@{
    ViewData["Title"] = "Завуч";
}

<div class="text-left">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <a class="btn btn-block btn-info" asp-controller="Headteacher" asp-action="Class"> Создать урок </a>
</div>